<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <script src="/js/jquery-3.1.0.js"></script>
        <link href="/css/bootstrap.css" rel="stylesheet">
        <script src="/js/bootstrap.js"></script>
        <script src="/js/angular.js"></script>
        <script src="/js/main.js"></script>
        

    </head>
    
   <body ng-app="app" ng-controller="qrcodeCtrl" style="margin-top: 10px;" >
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <input type='text' ng-model="gItem" class="form-control" placeholder="Введите название вашей огранизации" id="input_form">
                                </div>

                                <div class="form-group">
                                    <button ng-click="gSearch(gItem)" class="btn btn-primary btn-block">Поиск</button>
                                </div>
                            </form>
                        </div>
                    </div>
                                                  <div class="alert alert-danger" role="alert" ng-if="show_error == 1" >Ваша организация не найдена</div>                  
                    <div ng-repeat="x in items" class="panel panel-default">
                        <div  class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{{x.pagemap.cse_thumbnail[0].src}}">
                                        <img ng-src="{{x.pagemap.metatags[0]['og:image']}}" class="media-object" width="90" height="90">
                                    </a>
                                </div>
                                <div class="media-body" data-toggle="modal" data-target="#myModal" ng-click="getObj(x)" >
                                    <h3 class="media-heading">{{x.title.split('(')[0]}}</h3>
                                    <p>{{x.snippet.split('.')[0]}}</p>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div> 
            </div>
        </div>
       <!--- modal menu ---> 
       <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Генератор QR-code</h4>
                   </div>
                    <div class="modal-body">
                        <p>Вы действительно хотите сгенерировать QR-код для организации <b>{{curTitle}}</b>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                        <button type="button" class="btn btn-primary" ng-click="linkIdGet(curLink)">Да</button>
                    </div>
               </div><!-- /.modal-content -->
           </div><!-- /.modal-dialog -->
       </div><!-- /.modal -->
    </body>
</html>