<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <script src="/js/jquery-3.1.0.js"></script>
        <link href="/css/bootstrap.css" rel="stylesheet">
        <script src="/js/bootstrap.js"></script>
        <script src="/js/angular.js"></script>
        <scrip src="/js/jspdf.min.js"></scrip>
        <script src="/js/qrcode.js"></script>
        <script src="/js/svg.js"></script>
    </head>
    
    <body ng-app="app" ng-controller="svgCtrl">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a type="button" class="btn btn-default navbar-btn" ng-href="{{svg_url}}" download="Your_QR_CODE.svg">Сохранить в SVG</a>
                <a type="button" class="btn btn-default navbar-btn" href='index.html'>Вернуться к поиску</a>
            </div>
        </nav>
        <div id="svg">
            <svg version="1.1" id="svg_image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="841.89px" height="1190.55px" viewBox="0 0 841.89 1190.55" enable-background="new 0 0 841.89 1190.55" xml:space="preserve">
            <g>
                <g>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D0A448" points="17.747,-14.173 17.747,1204.723 -14.173,1204.723     -14.173,-14.173 17.747,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#007E8E" points="36.313,-14.173 36.313,1204.723 17.747,1204.723     17.747,-14.173 36.313,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#BD0969" points="124.886,-14.173 124.886,1204.723 70.236,1204.723     70.236,-14.173 124.886,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFCE71" points="176.779,-14.173 176.779,1204.723 137.292,1204.723     137.292,-14.173 176.779,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F3716D" points="196.226,-14.173 196.226,1204.723 175.822,1204.723     175.822,-14.173 196.226,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#BD0969" points="203.3,-14.173 203.3,1204.723 196.225,1204.723     196.225,-14.173 203.3,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFCE71" points="216.854,-14.173 216.854,1204.723 202.708,1204.723     202.708,-14.173 216.854,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D0A448" points="238.772,-14.173 238.772,1204.723 215.38,1204.723     215.38,-14.173 238.772,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#BD0969" points="247.205,-14.173 247.205,1204.723 238.772,1204.723     238.772,-14.173 247.205,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F8AA9E" points="260.466,-14.173 260.466,1204.723 246.911,1204.723     246.911,-14.173 260.466,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFCE71" points="273.728,-14.173 273.728,1204.723 260.172,1204.723     260.172,-14.173 273.728,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D0A448" points="313.804,-14.173 313.804,1204.723 273.431,1204.723     273.431,-14.173 313.804,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#007E8E" points="341.799,-14.173 341.799,1204.723 312.919,1204.723     312.919,-14.173 341.799,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F3716D" points="370.087,-14.173 370.087,1204.723 341.209,1204.723     341.209,-14.173 370.087,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFCE71" points="373.918,-14.173 373.918,1204.723 369.791,1204.723     369.791,-14.173 373.918,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#BD0969" points="381.948,-14.173 381.948,1204.723 373.918,1204.723     373.918,-14.173 381.948,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F8AA9E" points="397.859,-14.173 397.859,1204.723 381.284,1204.723     381.284,-14.173 397.859,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F8AA9E" points="124.886,-14.173 124.886,1204.723 116.599,1204.723     116.599,-14.173 124.886,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFCE71" points="430.571,-14.173 430.571,1204.723 396.607,1204.723     396.607,-14.173 430.571,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F4826E" points="70.236,-14.173 70.236,1204.723 36.313,1204.723     36.313,-14.173 70.236,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D0A448" points="137.292,-14.173 137.292,1204.723 124.886,1204.723     124.886,-14.173 137.292,-14.173   "/>
                </g>
                <g>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#007E8E" points="447.639,-14.173 447.639,1204.723 427.996,1204.723     427.996,-14.173 447.639,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#BD0969" points="504.778,-14.173 504.778,1204.723 475.93,1204.723     475.93,-14.173 504.778,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFCE71" points="556.672,-14.173 556.672,1204.723 517.184,1204.723     517.184,-14.173 556.672,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F3716D" points="576.118,-14.173 576.118,1204.723 555.715,1204.723     555.715,-14.173 576.118,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#BD0969" points="583.193,-14.173 583.193,1204.723 576.118,1204.723     576.118,-14.173 583.193,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFCE71" points="596.746,-14.173 596.746,1204.723 582.602,1204.723     582.602,-14.173 596.746,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D0A448" points="618.665,-14.173 618.665,1204.723 595.272,1204.723     595.272,-14.173 618.665,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#BD0969" points="627.098,-14.173 627.098,1204.723 618.665,1204.723     618.665,-14.173 627.098,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F8AA9E" points="640.359,-14.173 640.359,1204.723 626.804,1204.723     626.804,-14.173 640.359,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFCE71" points="653.62,-14.173 653.62,1204.723 640.064,1204.723     640.064,-14.173 653.62,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D0A448" points="693.696,-14.173 693.696,1204.723 653.324,1204.723     653.324,-14.173 693.696,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#007E8E" points="733.26,-14.173 733.26,1204.723 692.813,1204.723     692.813,-14.173 733.26,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFCE71" points="832.712,-14.173 832.712,1204.723 780.553,1204.723     780.553,-14.173 832.712,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#2C939D" points="856.063,-14.173 856.063,1204.723 826.619,1204.723     826.619,-14.173 856.063,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F4826E" points="477.104,-14.173 477.104,1204.723 445.284,1204.723     445.284,-14.173 477.104,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#D0A448" points="517.184,-14.173 517.184,1204.723 504.779,1204.723     504.779,-14.173 517.184,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F3716D" points="762.138,-14.173 762.138,1204.723 733.26,1204.723     733.26,-14.173 762.138,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFCE71" points="754.065,-14.173 754.065,1204.723 749.938,1204.723     749.938,-14.173 754.065,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#BD0969" points="767.921,-14.173 767.921,1204.723 754.065,1204.723     754.065,-14.173 767.921,-14.173   "/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#F8AA9E" points="789.91,-14.173 789.91,1204.723 767.921,1204.723     767.921,-14.173 789.91,-14.173   "/>
                </g>
            </g>
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" points="47.744,102.509 47.744,1088.041 101.12,1088.041   101.12,1141.417 740.77,1141.417 740.77,1088.041 794.146,1088.041 794.146,102.509 740.77,102.509 740.77,49.133 101.12,49.133   101.12,102.509 "/>
            <g transform="translate(0,80)">
                <path d="M269.251,797.339c1.53,1.596,2.726,3.52,3.589,5.774c0.862,2.254,1.294,4.748,1.294,7.482c0,2.751-0.439,5.249-1.318,7.495   s-2.1,4.159-3.662,5.737c-1.514,1.563-3.271,2.768-5.273,3.613s-4.134,1.27-6.396,1.27c-2.409,0-4.635-0.451-6.677-1.355   c-2.043-0.902-3.796-2.16-5.261-3.771c-1.465-1.578-2.617-3.495-3.455-5.75c-0.838-2.254-1.257-4.666-1.257-7.238   c0-2.815,0.439-5.326,1.318-7.531c0.879-2.206,2.091-4.114,3.638-5.726c1.53-1.595,3.308-2.815,5.334-3.662   c2.026-0.846,4.146-1.27,6.36-1.27c2.295,0,4.459,0.432,6.494,1.294C266.012,794.564,267.77,795.776,269.251,797.339z    M265.614,821.899c0.911-1.48,1.575-3.157,1.99-5.029c0.415-1.871,0.623-3.963,0.623-6.274c0-2.376-0.232-4.557-0.696-6.543   c-0.464-1.985-1.144-3.678-2.039-5.078c-0.896-1.383-2.019-2.462-3.369-3.234c-1.351-0.773-2.897-1.16-4.639-1.16   c-1.953,0-3.613,0.448-4.98,1.343c-1.367,0.896-2.482,2.092-3.345,3.589c-0.814,1.433-1.42,3.109-1.819,5.029   c-0.399,1.921-0.598,3.939-0.598,6.055c0,2.344,0.211,4.46,0.635,6.348c0.423,1.889,1.09,3.564,2.002,5.029   c0.879,1.433,1.985,2.551,3.32,3.357c1.334,0.805,2.93,1.208,4.785,1.208c1.741,0,3.312-0.406,4.712-1.221   C263.595,824.504,264.735,823.364,265.614,821.899z"/>
                <path d="M289.478,828.516c-3.483,0-6.209-1.155-8.179-3.467c-1.97-2.311-2.954-5.411-2.954-9.302c0-1.692,0.264-3.275,0.793-4.749   c0.529-1.473,1.298-2.811,2.307-4.016c0.96-1.155,2.165-2.088,3.613-2.795c1.448-0.709,3.027-1.063,4.736-1.063   c2.36,0,4.28,0.565,5.762,1.697c1.481,1.131,2.222,2.673,2.222,4.626c0,0.814-0.195,1.534-0.586,2.161   c-0.391,0.626-1.034,0.939-1.929,0.939c-0.96,0-1.705-0.243-2.234-0.73c-0.529-0.486-0.793-1.029-0.793-1.63   c0-0.73,0.098-1.48,0.293-2.251s0.309-1.335,0.342-1.691c-0.292-0.503-0.727-0.84-1.303-1.01c-0.576-0.17-1.197-0.256-1.863-0.256   c-0.779,0-1.522,0.167-2.228,0.5c-0.707,0.334-1.392,0.949-2.058,1.844c-0.601,0.814-1.088,1.913-1.461,3.296   c-0.374,1.384-0.56,3.036-0.56,4.956c0,3.027,0.67,5.497,2.011,7.41c1.34,1.912,3.1,2.868,5.277,2.868   c1.576,0,2.896-0.385,3.961-1.153c1.064-0.77,2.052-1.923,2.962-3.461l1.56,1.025c-1.074,1.921-2.49,3.442-4.248,4.565   S291.35,828.516,289.478,828.516z"/>
                <path d="M322.791,811.523h-1.489c-0.146-0.455-0.362-0.992-0.647-1.611c-0.285-0.618-0.598-1.204-0.94-1.758   c-0.358-0.602-0.761-1.135-1.208-1.6c-0.448-0.463-0.916-0.728-1.404-0.793c-0.505-0.049-1.066-0.086-1.685-0.109   c-0.619-0.025-1.147-0.037-1.587-0.037v17.92c0,0.554,0.114,1.01,0.342,1.367c0.228,0.358,0.569,0.635,1.025,0.83   c0.358,0.163,0.765,0.285,1.221,0.366c0.456,0.082,0.903,0.139,1.343,0.171v1.611h-12.28v-1.611   c0.376-0.032,0.807-0.064,1.29-0.098c0.483-0.032,0.873-0.098,1.167-0.195c0.458-0.146,0.798-0.402,1.02-0.77   c0.221-0.365,0.332-0.842,0.332-1.428v-18.164c-0.521,0.017-1.107,0.037-1.758,0.061c-0.651,0.025-1.164,0.054-1.538,0.086   c-0.423,0.033-0.875,0.302-1.355,0.806c-0.48,0.505-0.899,1.034-1.257,1.587c-0.342,0.554-0.659,1.168-0.952,1.844   c-0.293,0.675-0.497,1.184-0.61,1.525h-1.489v-7.715h22.461V811.523z"/>
                <path d="M348.388,827.441c-0.765,0.277-1.437,0.5-2.014,0.672c-0.578,0.17-1.233,0.256-1.965,0.256c-1.27,0-2.283-0.297-3.04-0.891   c-0.757-0.595-1.241-1.461-1.453-2.601h-0.146c-1.058,1.172-2.193,2.067-3.406,2.686c-1.213,0.618-2.673,0.928-4.382,0.928   c-1.807,0-3.292-0.554-4.456-1.66c-1.164-1.106-1.746-2.555-1.746-4.346c0-0.928,0.13-1.758,0.391-2.49   c0.26-0.732,0.651-1.392,1.172-1.978c0.407-0.488,0.944-0.924,1.611-1.307c0.667-0.382,1.294-0.687,1.88-0.915   c0.732-0.276,2.217-0.789,4.456-1.538c2.238-0.748,3.748-1.334,4.529-1.758v-2.417c0-0.211-0.045-0.618-0.134-1.221   c-0.09-0.602-0.281-1.172-0.574-1.709c-0.326-0.602-0.786-1.127-1.379-1.575c-0.594-0.447-1.437-0.671-2.527-0.671   c-0.749,0-1.445,0.126-2.087,0.378c-0.643,0.253-1.095,0.518-1.355,0.794c0,0.326,0.077,0.806,0.232,1.44   c0.154,0.635,0.232,1.221,0.232,1.758c0,0.57-0.256,1.091-0.769,1.563c-0.513,0.473-1.225,0.708-2.136,0.708   c-0.814,0-1.412-0.289-1.794-0.866c-0.383-0.578-0.574-1.225-0.574-1.941c0-0.748,0.264-1.465,0.793-2.148   c0.529-0.684,1.216-1.294,2.063-1.831c0.732-0.455,1.619-0.843,2.661-1.159c1.042-0.318,2.059-0.477,3.052-0.477   c1.367,0,2.559,0.094,3.577,0.281c1.017,0.187,1.941,0.59,2.771,1.208c0.83,0.603,1.46,1.42,1.892,2.454   c0.431,1.033,0.647,2.364,0.647,3.991c0,2.328-0.024,4.391-0.073,6.188c-0.049,1.799-0.073,3.765-0.073,5.896   c0,0.635,0.11,1.14,0.33,1.514c0.22,0.375,0.557,0.692,1.013,0.952c0.244,0.146,0.63,0.229,1.16,0.244   c0.529,0.017,1.07,0.024,1.624,0.024V827.441z M339.868,814.551c-1.384,0.408-2.596,0.808-3.638,1.199   c-1.042,0.392-2.01,0.881-2.905,1.468c-0.814,0.555-1.457,1.211-1.929,1.97c-0.472,0.759-0.708,1.66-0.708,2.703   c0,1.354,0.354,2.349,1.062,2.985s1.607,0.954,2.698,0.954c1.155,0,2.173-0.281,3.052-0.844c0.879-0.563,1.619-1.228,2.222-1.994   L339.868,814.551z"/>
                <path d="M373.571,821.167c0,1.188-0.269,2.214-0.806,3.076c-0.537,0.863-1.278,1.571-2.222,2.124   c-0.863,0.505-1.848,0.883-2.954,1.135c-1.107,0.253-2.287,0.379-3.54,0.379h-12.72v-1.611c0.374-0.032,0.761-0.064,1.16-0.098   c0.398-0.032,0.745-0.098,1.038-0.195c0.456-0.146,0.793-0.402,1.013-0.77c0.22-0.365,0.33-0.842,0.33-1.428v-15.625   c0-0.537-0.114-0.988-0.342-1.355c-0.228-0.365-0.57-0.646-1.025-0.842c-0.423-0.195-0.834-0.325-1.233-0.391   c-0.399-0.064-0.769-0.113-1.111-0.146v-1.611c1.448,0,3.243-0.008,5.383-0.024c2.14-0.016,4.374-0.024,6.702-0.024   c1.237,0,2.388,0.086,3.455,0.256c1.066,0.172,2.014,0.461,2.844,0.867c0.862,0.424,1.53,0.997,2.002,1.721   c0.472,0.725,0.708,1.6,0.708,2.625c0,1.611-0.5,2.885-1.501,3.82c-1.001,0.937-2.315,1.575-3.943,1.917v0.269   c0.83,0.114,1.648,0.302,2.454,0.562c0.806,0.261,1.526,0.619,2.161,1.074c0.651,0.473,1.172,1.054,1.563,1.745   C373.375,819.308,373.571,820.158,373.571,821.167z M367.394,809.424c0-0.813-0.15-1.477-0.451-1.99   c-0.3-0.512-0.702-0.915-1.205-1.208s-1.067-0.492-1.692-0.599c-0.625-0.105-1.27-0.158-1.935-0.158   c-0.422,0-0.889,0.012-1.4,0.037c-0.511,0.023-0.961,0.045-1.351,0.061v8.789h2.361c1.12,0,2.061-0.13,2.824-0.391   c0.763-0.26,1.338-0.61,1.728-1.05c0.406-0.423,0.693-0.928,0.864-1.514C367.309,810.815,367.394,810.156,367.394,809.424z    M368.712,820.801c0-1.432-0.531-2.563-1.591-3.394s-2.578-1.245-4.553-1.245c-0.865,0-1.546,0.017-2.044,0.049   c-0.498,0.033-0.885,0.049-1.163,0.049v7.959c0,0.635,0.269,1.127,0.808,1.477c0.539,0.351,1.363,0.525,2.472,0.525   c1.175,0,2.17-0.154,2.987-0.464c0.815-0.309,1.452-0.732,1.909-1.27c0.44-0.521,0.746-1.09,0.917-1.709   C368.626,822.16,368.712,821.501,368.712,820.801z"/>
                <path d="M399.706,820.483c0,1.286-0.277,2.396-0.83,3.333c-0.554,0.936-1.27,1.705-2.148,2.307   c-0.879,0.586-1.855,1.025-2.93,1.318s-2.197,0.439-3.369,0.439h-12.695v-1.611c0.374-0.032,0.761-0.064,1.16-0.098   c0.398-0.032,0.745-0.098,1.038-0.195c0.456-0.146,0.793-0.402,1.013-0.77c0.22-0.365,0.33-0.842,0.33-1.428v-15.625   c0-0.537-0.114-0.988-0.342-1.355c-0.228-0.365-0.57-0.646-1.025-0.842c-0.423-0.195-0.834-0.325-1.233-0.391   c-0.399-0.064-0.769-0.113-1.111-0.146v-1.611h12.134v1.611c-0.488,0.033-0.964,0.069-1.428,0.109   c-0.464,0.041-0.851,0.103-1.16,0.184c-0.505,0.146-0.854,0.424-1.05,0.83c-0.195,0.407-0.293,0.863-0.293,1.367v5.737   c0.651-0.016,1.208-0.036,1.672-0.062c0.464-0.023,1.135-0.036,2.014-0.036c1.579,0,2.966,0.126,4.163,0.378   c1.196,0.253,2.234,0.64,3.113,1.16c0.944,0.554,1.676,1.262,2.197,2.124C399.445,818.075,399.706,819.165,399.706,820.483z    M394.774,820.361c0-1.367-0.497-2.535-1.489-3.504c-0.993-0.968-2.441-1.452-4.346-1.452c-0.798,0-1.457,0.028-1.978,0.085   c-0.521,0.058-0.92,0.086-1.196,0.086v8.594c0,0.684,0.248,1.196,0.745,1.538c0.496,0.342,1.396,0.513,2.698,0.513   c1.106,0,2.03-0.179,2.771-0.537c0.74-0.357,1.306-0.813,1.697-1.367c0.423-0.602,0.712-1.229,0.867-1.88   C394.696,821.786,394.774,821.094,394.774,820.361z"/>
                <path d="M424.277,811.523h-1.488c-0.146-0.455-0.363-0.992-0.647-1.611c-0.285-0.618-0.598-1.204-0.94-1.758   c-0.358-0.602-0.761-1.135-1.208-1.6c-0.448-0.463-0.916-0.728-1.404-0.793c-0.505-0.049-1.066-0.086-1.685-0.109   c-0.619-0.025-1.147-0.037-1.587-0.037v17.92c0,0.554,0.114,1.01,0.342,1.367c0.228,0.358,0.569,0.635,1.025,0.83   c0.358,0.163,0.765,0.285,1.221,0.366c0.456,0.082,0.903,0.139,1.343,0.171v1.611h-12.28v-1.611   c0.376-0.032,0.807-0.064,1.29-0.098c0.483-0.032,0.873-0.098,1.167-0.195c0.458-0.146,0.798-0.402,1.02-0.77   c0.221-0.365,0.332-0.842,0.332-1.428v-18.164c-0.521,0.017-1.107,0.037-1.758,0.061c-0.651,0.025-1.164,0.054-1.538,0.086   c-0.423,0.033-0.875,0.302-1.355,0.806c-0.48,0.505-0.899,1.034-1.257,1.587c-0.342,0.554-0.659,1.168-0.952,1.844   c-0.293,0.675-0.497,1.184-0.61,1.525h-1.489v-7.715h22.46V811.523z"/>
                <path d="M448.459,822.217c-1.01,1.921-2.36,3.451-4.053,4.59c-1.693,1.139-3.638,1.709-5.835,1.709   c-1.938,0-3.634-0.342-5.091-1.025c-1.456-0.684-2.657-1.611-3.601-2.783c-0.944-1.172-1.647-2.539-2.112-4.102   c-0.463-1.563-0.695-3.214-0.695-4.956c0-1.563,0.248-3.097,0.744-4.603c0.497-1.505,1.225-2.859,2.186-4.064   c0.928-1.155,2.079-2.088,3.455-2.795c1.375-0.709,2.917-1.063,4.626-1.063c1.758,0,3.263,0.277,4.517,0.83   c1.253,0.554,2.271,1.311,3.052,2.271c0.748,0.912,1.306,1.986,1.673,3.223c0.365,1.237,0.549,2.58,0.549,4.028v1.611h-15.942   c0,1.582,0.15,3.019,0.452,4.307c0.301,1.289,0.776,2.423,1.428,3.401c0.635,0.946,1.465,1.692,2.49,2.239   c1.025,0.546,2.246,0.819,3.662,0.819c1.448,0,2.697-0.34,3.748-1.019c1.049-0.679,2.063-1.902,3.039-3.669L448.459,822.217z    M443.063,813.037c0-0.908-0.077-1.882-0.231-2.921c-0.155-1.038-0.403-1.906-0.745-2.604c-0.375-0.746-0.888-1.354-1.538-1.825   c-0.651-0.471-1.489-0.706-2.515-0.706c-1.709,0-3.129,0.71-4.261,2.13c-1.131,1.42-1.745,3.396-1.843,5.927H443.063z"/>
                <path d="M487.789,815.601c0,1.693-0.269,3.356-0.807,4.993c-0.538,1.635-1.304,3.023-2.297,4.162   c-1.125,1.303-2.428,2.271-3.91,2.905c-1.483,0.635-3.146,0.952-4.986,0.952c-1.531,0-2.99-0.289-4.375-0.867   c-1.385-0.577-2.614-1.419-3.689-2.526c-1.06-1.09-1.903-2.421-2.53-3.991c-0.627-1.571-0.94-3.333-0.94-5.286   c0-3.76,1.096-6.836,3.287-9.229s5.063-3.589,8.615-3.589c3.372,0,6.154,1.135,8.346,3.406   C486.693,808.801,487.789,811.825,487.789,815.601z M482.735,815.649c0-1.221-0.122-2.511-0.367-3.87   c-0.244-1.358-0.611-2.51-1.101-3.454c-0.521-1.009-1.207-1.819-2.055-2.429c-0.848-0.611-1.883-0.916-3.105-0.916   c-1.256,0-2.328,0.31-3.217,0.928c-0.889,0.619-1.61,1.465-2.164,2.539c-0.522,0.993-0.889,2.124-1.102,3.394   c-0.212,1.27-0.317,2.499-0.317,3.687c0,1.563,0.126,3.007,0.379,4.334c0.253,1.326,0.656,2.511,1.211,3.552   c0.555,1.042,1.251,1.859,2.092,2.454c0.839,0.594,1.879,0.891,3.118,0.891c2.038,0,3.652-0.984,4.842-2.954   C482.14,821.835,482.735,819.116,482.735,815.649z"/>
                <path d="M512.996,811.523h-1.489c-0.146-0.455-0.362-0.992-0.647-1.611c-0.284-0.618-0.598-1.204-0.939-1.758   c-0.358-0.602-0.761-1.135-1.209-1.6c-0.447-0.463-0.915-0.728-1.403-0.793c-0.505-0.049-1.066-0.086-1.685-0.109   c-0.619-0.025-1.147-0.037-1.587-0.037v17.92c0,0.554,0.113,1.01,0.342,1.367c0.228,0.358,0.569,0.635,1.025,0.83   c0.357,0.163,0.765,0.285,1.221,0.366c0.455,0.082,0.903,0.139,1.343,0.171v1.611h-12.28v-1.611   c0.377-0.032,0.807-0.064,1.29-0.098c0.483-0.032,0.872-0.098,1.167-0.195c0.459-0.146,0.799-0.402,1.02-0.77   c0.222-0.365,0.332-0.842,0.332-1.428v-18.164c-0.521,0.017-1.107,0.037-1.758,0.061c-0.651,0.025-1.164,0.054-1.538,0.086   c-0.424,0.033-0.875,0.302-1.355,0.806c-0.479,0.505-0.899,1.034-1.257,1.587c-0.342,0.554-0.659,1.168-0.952,1.844   c-0.293,0.675-0.497,1.184-0.61,1.525h-1.489v-7.715h22.461V811.523z"/>
                <path d="M535.688,820.923c0,2.263-1.005,4.094-3.015,5.493c-2.011,1.4-4.636,2.1-7.874,2.1c-1.449,0-2.763-0.167-3.942-0.5   c-1.181-0.334-2.17-0.785-2.967-1.355c-0.766-0.569-1.352-1.212-1.758-1.929c-0.407-0.716-0.61-1.497-0.61-2.344   c0-0.732,0.195-1.334,0.586-1.807c0.391-0.472,1.001-0.708,1.831-0.708c0.879,0,1.546,0.236,2.002,0.708   c0.455,0.473,0.684,0.969,0.684,1.489c0,0.473-0.069,1.034-0.207,1.685c-0.139,0.651-0.257,1.156-0.354,1.514   c0.423,0.424,1.041,0.769,1.855,1.038c0.813,0.268,1.766,0.402,2.856,0.402c1.692,0,3.101-0.504,4.224-1.514   c1.123-1.009,1.685-2.433,1.685-4.272c0-0.553-0.073-1.114-0.22-1.685c-0.146-0.569-0.424-1.074-0.83-1.514   c-0.407-0.439-0.961-0.797-1.66-1.074c-0.7-0.276-1.62-0.415-2.759-0.415h-2.563v-2.271h2.1c1.953,0,3.32-0.411,4.102-1.232   c0.781-0.822,1.172-2.096,1.172-3.821c0-1.204-0.375-2.161-1.123-2.868c-0.749-0.709-1.782-1.063-3.101-1.063   c-0.961,0-1.815,0.207-2.563,0.623c-0.749,0.414-1.44,0.98-2.075,1.696c-0.57,0.651-1.07,1.412-1.502,2.282   c-0.431,0.871-0.785,1.689-1.062,2.454h-1.636l0.146-8.716h1.636l0.879,1.343c0.813-0.374,1.794-0.724,2.942-1.05   c1.146-0.325,2.437-0.488,3.869-0.488c1.79,0,3.247,0.216,4.37,0.646c1.123,0.432,1.993,0.949,2.612,1.551   c0.602,0.586,1.009,1.209,1.221,1.867c0.211,0.66,0.317,1.201,0.317,1.624c0,0.554-0.085,1.119-0.257,1.696   c-0.17,0.578-0.492,1.128-0.964,1.648c-0.456,0.521-1.087,1.005-1.892,1.453c-0.807,0.447-1.819,0.793-3.04,1.037v0.317   c0.765,0.033,1.55,0.155,2.356,0.366c0.805,0.212,1.55,0.546,2.233,1.001c0.732,0.505,1.298,1.136,1.696,1.892   C535.489,818.982,535.688,819.882,535.688,820.923z"/>
                <path d="M561.994,820.483c0,1.286-0.277,2.396-0.83,3.333c-0.554,0.936-1.27,1.705-2.148,2.307   c-0.879,0.586-1.855,1.025-2.93,1.318s-2.197,0.439-3.369,0.439h-12.695v-1.611c0.374-0.032,0.761-0.064,1.16-0.098   c0.398-0.032,0.744-0.098,1.037-0.195c0.455-0.146,0.793-0.402,1.014-0.77c0.219-0.365,0.329-0.842,0.329-1.428v-15.625   c0-0.537-0.114-0.988-0.342-1.355c-0.229-0.365-0.57-0.646-1.025-0.842c-0.424-0.195-0.834-0.325-1.233-0.391   c-0.398-0.064-0.769-0.113-1.11-0.146v-1.611h12.134v1.611c-0.488,0.033-0.965,0.069-1.428,0.109   c-0.465,0.041-0.852,0.103-1.16,0.184c-0.505,0.146-0.854,0.424-1.05,0.83c-0.195,0.407-0.293,0.863-0.293,1.367v5.737   c0.65-0.016,1.208-0.036,1.673-0.062c0.463-0.023,1.135-0.036,2.014-0.036c1.578,0,2.967,0.126,4.162,0.378   c1.197,0.253,2.234,0.64,3.113,1.16c0.943,0.554,1.676,1.262,2.197,2.124C561.733,818.075,561.994,819.165,561.994,820.483z    M557.063,820.361c0-1.367-0.497-2.535-1.489-3.504c-0.993-0.968-2.441-1.452-4.346-1.452c-0.798,0-1.457,0.028-1.978,0.085   c-0.521,0.058-0.92,0.086-1.196,0.086v8.594c0,0.684,0.248,1.196,0.745,1.538c0.496,0.342,1.395,0.513,2.697,0.513   c1.106,0,2.03-0.179,2.771-0.537c0.74-0.357,1.306-0.813,1.696-1.367c0.423-0.602,0.712-1.229,0.866-1.88   C556.985,821.786,557.063,821.094,557.063,820.361z M574.396,827.881h-11.719v-1.611c0.371-0.032,0.747-0.064,1.127-0.098   c0.38-0.032,0.716-0.098,1.007-0.195c0.452-0.146,0.8-0.402,1.042-0.77c0.243-0.365,0.364-0.842,0.364-1.428v-15.625   c0-0.537-0.114-0.988-0.342-1.355c-0.229-0.365-0.57-0.646-1.025-0.842c-0.424-0.195-0.834-0.325-1.233-0.391   c-0.398-0.064-0.769-0.113-1.11-0.146v-1.611h11.792v1.611c-0.473,0.033-0.883,0.073-1.232,0.122   c-0.351,0.049-0.672,0.106-0.965,0.171c-0.456,0.131-0.793,0.387-1.014,0.77c-0.219,0.382-0.329,0.858-0.329,1.428v15.625   c0,0.57,0.098,1.029,0.293,1.379c0.195,0.351,0.528,0.623,1.001,0.818c0.342,0.163,0.712,0.285,1.111,0.366   c0.398,0.082,0.809,0.139,1.232,0.171V827.881z"/>
                <path d="M600.653,821.167c0,1.188-0.269,2.214-0.806,3.076c-0.537,0.863-1.278,1.571-2.222,2.124   c-0.863,0.505-1.848,0.883-2.954,1.135c-1.107,0.253-2.287,0.379-3.54,0.379h-12.72v-1.611c0.374-0.032,0.761-0.064,1.16-0.098   c0.398-0.032,0.744-0.098,1.037-0.195c0.455-0.146,0.793-0.402,1.014-0.77c0.219-0.365,0.329-0.842,0.329-1.428v-15.625   c0-0.537-0.114-0.988-0.342-1.355c-0.229-0.365-0.57-0.646-1.025-0.842c-0.424-0.195-0.834-0.325-1.233-0.391   c-0.398-0.064-0.769-0.113-1.11-0.146v-1.611c1.448,0,3.243-0.008,5.384-0.024c2.14-0.016,4.373-0.024,6.701-0.024   c1.236,0,2.389,0.086,3.455,0.256c1.065,0.172,2.014,0.461,2.844,0.867c0.862,0.424,1.529,0.997,2.002,1.721   c0.472,0.725,0.708,1.6,0.708,2.625c0,1.611-0.501,2.885-1.501,3.82c-1.002,0.937-2.316,1.575-3.943,1.917v0.269   c0.83,0.114,1.648,0.302,2.453,0.562c0.807,0.261,1.526,0.619,2.161,1.074c0.65,0.473,1.172,1.054,1.563,1.745   C600.458,819.308,600.653,820.158,600.653,821.167z M594.477,809.424c0-0.813-0.15-1.477-0.45-1.99   c-0.301-0.512-0.702-0.915-1.205-1.208s-1.067-0.492-1.691-0.599c-0.625-0.105-1.27-0.158-1.936-0.158   c-0.422,0-0.888,0.012-1.399,0.037c-0.511,0.023-0.962,0.045-1.351,0.061v8.789h2.361c1.119,0,2.061-0.13,2.823-0.391   c0.763-0.26,1.339-0.61,1.729-1.05c0.405-0.423,0.693-0.928,0.863-1.514S594.477,810.156,594.477,809.424z M595.795,820.801   c0-1.432-0.53-2.563-1.591-3.394c-1.062-0.83-2.579-1.245-4.553-1.245c-0.865,0-1.547,0.017-2.044,0.049   c-0.498,0.033-0.886,0.049-1.163,0.049v7.959c0,0.635,0.269,1.127,0.808,1.477c0.539,0.351,1.362,0.525,2.473,0.525   c1.175,0,2.17-0.154,2.986-0.464c0.815-0.309,1.452-0.732,1.909-1.27c0.44-0.521,0.746-1.09,0.918-1.709   C595.709,822.16,595.795,821.501,595.795,820.801z"/>
                <path d="M313.757,887.881H301.99v-1.611c0.374-0.032,0.761-0.064,1.16-0.098c0.398-0.032,0.745-0.098,1.038-0.195   c0.456-0.146,0.806-0.402,1.05-0.77c0.244-0.365,0.366-0.842,0.366-1.428v-7.666h-10.718v7.422c0,0.554,0.114,1.01,0.342,1.367   c0.228,0.358,0.569,0.635,1.025,0.83c0.342,0.163,0.712,0.285,1.111,0.366c0.398,0.082,0.81,0.139,1.233,0.171v1.611h-11.768   v-1.611c0.374-0.032,0.761-0.064,1.16-0.098c0.398-0.032,0.745-0.098,1.038-0.195c0.456-0.146,0.793-0.402,1.013-0.77   c0.22-0.365,0.33-0.842,0.33-1.428v-15.625c0-0.537-0.114-0.988-0.342-1.355c-0.228-0.365-0.57-0.646-1.025-0.842   c-0.423-0.195-0.834-0.325-1.233-0.391c-0.399-0.064-0.769-0.113-1.111-0.146v-1.611h11.768v1.611   c-0.472,0.033-0.883,0.073-1.233,0.122c-0.35,0.049-0.671,0.106-0.964,0.171c-0.456,0.131-0.793,0.387-1.013,0.77   c-0.22,0.382-0.33,0.858-0.33,1.428v6.201h10.718v-5.957c0-0.537-0.114-0.988-0.342-1.355c-0.228-0.365-0.57-0.646-1.025-0.842   c-0.423-0.195-0.834-0.325-1.233-0.391c-0.399-0.064-0.769-0.113-1.111-0.146v-1.611h11.768v1.611   c-0.472,0.033-0.883,0.073-1.233,0.122c-0.35,0.049-0.671,0.106-0.964,0.171c-0.456,0.131-0.793,0.387-1.013,0.77   c-0.22,0.382-0.33,0.858-0.33,1.428v15.625c0,0.57,0.098,1.029,0.293,1.379c0.195,0.351,0.529,0.623,1.001,0.818   c0.342,0.163,0.712,0.285,1.111,0.366c0.398,0.082,0.81,0.139,1.233,0.171V887.881z"/>
                <path d="M340.527,887.441c-0.765,0.277-1.437,0.5-2.014,0.672c-0.578,0.17-1.233,0.256-1.965,0.256c-1.27,0-2.283-0.297-3.04-0.891   c-0.757-0.595-1.241-1.461-1.453-2.601h-0.146c-1.058,1.172-2.193,2.067-3.406,2.686c-1.213,0.618-2.673,0.928-4.382,0.928   c-1.807,0-3.292-0.554-4.456-1.66c-1.164-1.106-1.746-2.555-1.746-4.346c0-0.928,0.13-1.758,0.391-2.49   c0.26-0.732,0.651-1.392,1.172-1.978c0.407-0.488,0.944-0.924,1.611-1.307c0.667-0.382,1.294-0.687,1.88-0.915   c0.732-0.276,2.217-0.789,4.456-1.538c2.238-0.748,3.748-1.334,4.529-1.758v-2.417c0-0.211-0.045-0.618-0.134-1.221   c-0.09-0.602-0.281-1.172-0.574-1.709c-0.326-0.602-0.786-1.127-1.379-1.575c-0.594-0.447-1.437-0.671-2.527-0.671   c-0.749,0-1.445,0.126-2.087,0.378c-0.643,0.253-1.095,0.518-1.355,0.794c0,0.326,0.077,0.806,0.232,1.44   c0.154,0.635,0.232,1.221,0.232,1.758c0,0.57-0.256,1.091-0.769,1.563c-0.513,0.473-1.225,0.708-2.136,0.708   c-0.814,0-1.412-0.289-1.794-0.866c-0.383-0.578-0.574-1.225-0.574-1.941c0-0.748,0.264-1.465,0.793-2.148   c0.529-0.684,1.216-1.294,2.063-1.831c0.732-0.455,1.619-0.843,2.661-1.159c1.042-0.318,2.059-0.477,3.052-0.477   c1.367,0,2.559,0.094,3.577,0.281c1.017,0.187,1.941,0.59,2.771,1.208c0.83,0.603,1.46,1.42,1.892,2.454   c0.431,1.033,0.647,2.364,0.647,3.991c0,2.328-0.024,4.391-0.073,6.188c-0.049,1.799-0.073,3.765-0.073,5.896   c0,0.635,0.11,1.14,0.33,1.514c0.22,0.375,0.557,0.692,1.013,0.952c0.244,0.146,0.63,0.229,1.16,0.244   c0.529,0.017,1.07,0.024,1.624,0.024V887.441z M332.006,874.551c-1.384,0.408-2.596,0.808-3.638,1.199   c-1.042,0.392-2.01,0.881-2.905,1.468c-0.814,0.555-1.457,1.211-1.929,1.97c-0.472,0.759-0.708,1.66-0.708,2.703   c0,1.354,0.354,2.349,1.062,2.985s1.607,0.954,2.698,0.954c1.155,0,2.173-0.281,3.052-0.844c0.879-0.563,1.619-1.228,2.222-1.994   L332.006,874.551z"/>
                <path d="M386.571,879.312c-1.335,1.042-2.91,1.84-4.724,2.393c-1.815,0.554-3.796,0.83-5.945,0.83v1.092   c0,0.566,0.093,1.035,0.281,1.407c0.187,0.372,0.574,0.671,1.16,0.897c0.293,0.113,0.801,0.215,1.526,0.304   c0.724,0.089,1.396,0.142,2.014,0.157v1.733h-14.673v-1.733c0.391-0.032,0.956-0.085,1.697-0.157   c0.74-0.073,1.257-0.174,1.55-0.304c0.488-0.21,0.846-0.501,1.074-0.873c0.228-0.372,0.342-0.85,0.342-1.432v-1.092   c-2.148,0-4.138-0.269-5.969-0.806s-3.422-1.343-4.773-2.417c-1.335-1.074-2.38-2.4-3.137-3.979   c-0.757-1.578-1.135-3.409-1.135-5.493c0-1.595,0.272-3.067,0.818-4.419c0.545-1.351,1.436-2.579,2.673-3.687   c1.188-1.058,2.726-1.892,4.614-2.503c1.888-0.609,4.109-0.915,6.665-0.915h0.244v-0.655c0-0.533-0.094-0.985-0.281-1.357   c-0.188-0.372-0.566-0.68-1.135-0.922c-0.472-0.21-1.021-0.38-1.648-0.51c-0.627-0.129-1.176-0.21-1.648-0.242v-1.733h14.453v1.733   c-0.472,0.017-1.018,0.061-1.636,0.134c-0.619,0.072-1.164,0.189-1.636,0.352c-0.554,0.194-0.932,0.489-1.135,0.886   c-0.204,0.396-0.305,0.868-0.305,1.418v0.897h0.244c2.555,0,4.769,0.302,6.641,0.903c1.872,0.603,3.418,1.44,4.639,2.515   c1.204,1.074,2.087,2.304,2.649,3.687c0.562,1.384,0.842,2.856,0.842,4.419c0,2.051-0.395,3.882-1.184,5.493   C388.943,876.943,387.889,878.271,386.571,879.312z M363.182,876.582c0.83,1.398,1.896,2.406,3.198,3.023   c1.302,0.618,2.791,0.927,4.468,0.927v-20.288h-1.025c-1.481,0-2.755,0.293-3.821,0.878c-1.066,0.585-1.949,1.414-2.649,2.487   c-0.586,0.927-1.018,1.987-1.294,3.183c-0.277,1.194-0.415,2.401-0.415,3.62c0,0.846,0.077,1.776,0.232,2.792   C362.03,874.221,362.466,875.347,363.182,876.582z M383.568,876.582c0.635-1.089,1.054-2.19,1.257-3.305   c0.203-1.113,0.305-2.068,0.305-2.865c0-1.04-0.139-2.202-0.415-3.486c-0.277-1.284-0.708-2.39-1.294-3.316   c-0.619-0.976-1.457-1.78-2.515-2.414c-1.058-0.634-2.376-0.951-3.955-0.951h-1.025v20.288c1.774,0,3.308-0.354,4.602-1.061   S382.835,877.802,383.568,876.582z"/>
                <path d="M420.396,887.881h-11.768v-1.611c0.374-0.032,0.757-0.064,1.147-0.098c0.391-0.032,0.732-0.098,1.025-0.195   c0.456-0.146,0.806-0.402,1.05-0.77c0.244-0.365,0.366-0.842,0.366-1.428v-17.969h-6.689c0,3.972-0.277,7.39-0.83,10.254   c-0.554,2.865-1.27,5.2-2.148,7.007c-0.863,1.774-1.839,3.101-2.93,3.979c-1.091,0.879-2.206,1.318-3.345,1.318   c-1.172,0-2.059-0.305-2.661-0.916c-0.602-0.609-0.903-1.321-0.903-2.136c0-0.586,0.191-1.139,0.574-1.66   c0.382-0.521,0.94-0.781,1.672-0.781c0.684,0,1.302,0.195,1.855,0.586c0.553,0.391,1.09,0.937,1.611,1.636   c0.391-0.357,0.85-1.021,1.379-1.99c0.529-0.968,1.013-2.168,1.453-3.601c0.488-1.546,0.887-3.149,1.196-4.81   c0.309-1.66,0.464-3.564,0.464-5.713c0-0.846-0.106-1.473-0.317-1.88c-0.212-0.406-0.545-0.724-1.001-0.952   c-0.31-0.162-0.814-0.313-1.514-0.451c-0.7-0.139-1.27-0.232-1.709-0.281v-1.611h21.924v1.611   c-0.472,0.033-0.883,0.073-1.233,0.122c-0.35,0.049-0.671,0.106-0.964,0.171c-0.456,0.131-0.793,0.387-1.013,0.77   c-0.22,0.382-0.33,0.858-0.33,1.428v15.625c0,0.57,0.098,1.029,0.293,1.379c0.195,0.351,0.529,0.623,1.001,0.818   c0.342,0.163,0.712,0.285,1.111,0.366c0.398,0.082,0.81,0.139,1.233,0.171V887.881z"/>
                <path d="M447.166,887.441c-0.766,0.277-1.437,0.5-2.014,0.672c-0.578,0.17-1.233,0.256-1.966,0.256c-1.27,0-2.282-0.297-3.04-0.891   c-0.756-0.595-1.241-1.461-1.452-2.601h-0.146c-1.059,1.172-2.193,2.067-3.405,2.686c-1.213,0.618-2.674,0.928-4.383,0.928   c-1.807,0-3.292-0.554-4.455-1.66c-1.164-1.106-1.746-2.555-1.746-4.346c0-0.928,0.13-1.758,0.391-2.49   c0.26-0.732,0.65-1.392,1.172-1.978c0.406-0.488,0.943-0.924,1.611-1.307c0.667-0.382,1.294-0.687,1.88-0.915   c0.732-0.276,2.218-0.789,4.456-1.538c2.237-0.748,3.747-1.334,4.528-1.758v-2.417c0-0.211-0.045-0.618-0.134-1.221   c-0.09-0.602-0.281-1.172-0.574-1.709c-0.326-0.602-0.785-1.127-1.379-1.575c-0.595-0.447-1.438-0.671-2.527-0.671   c-0.749,0-1.444,0.126-2.088,0.378c-0.643,0.253-1.095,0.518-1.354,0.794c0,0.326,0.077,0.806,0.231,1.44   c0.155,0.635,0.232,1.221,0.232,1.758c0,0.57-0.256,1.091-0.77,1.563c-0.512,0.473-1.225,0.708-2.136,0.708   c-0.814,0-1.412-0.289-1.794-0.866c-0.383-0.578-0.574-1.225-0.574-1.941c0-0.748,0.265-1.465,0.793-2.148   c0.529-0.684,1.217-1.294,2.063-1.831c0.732-0.455,1.619-0.843,2.661-1.159c1.041-0.318,2.059-0.477,3.052-0.477   c1.367,0,2.56,0.094,3.577,0.281c1.017,0.187,1.94,0.59,2.771,1.208c0.83,0.603,1.461,1.42,1.892,2.454   c0.432,1.033,0.647,2.364,0.647,3.991c0,2.328-0.024,4.391-0.073,6.188c-0.049,1.799-0.073,3.765-0.073,5.896   c0,0.635,0.11,1.14,0.329,1.514c0.221,0.375,0.558,0.692,1.014,0.952c0.244,0.146,0.631,0.229,1.16,0.244   c0.528,0.017,1.069,0.024,1.623,0.024V887.441z M438.646,874.551c-1.384,0.408-2.597,0.808-3.638,1.199   c-1.042,0.392-2.011,0.881-2.905,1.468c-0.814,0.555-1.457,1.211-1.929,1.97c-0.473,0.759-0.708,1.66-0.708,2.703   c0,1.354,0.354,2.349,1.062,2.985c0.709,0.637,1.607,0.954,2.698,0.954c1.155,0,2.173-0.281,3.052-0.844   c0.879-0.563,1.619-1.228,2.222-1.994L438.646,874.551z"/>
                <path d="M482.358,887.881h-11.792v-1.611c0.374-0.032,0.761-0.064,1.16-0.098c0.398-0.032,0.744-0.098,1.037-0.195   c0.472-0.146,0.834-0.411,1.086-0.793c0.253-0.383,0.379-0.851,0.379-1.404v-17.432h-0.586l-8.154,21.143h-1.514l-7.666-21.558   h-0.537v16.87c0,0.83,0.118,1.481,0.354,1.953c0.236,0.473,0.574,0.798,1.014,0.977c0.342,0.163,0.712,0.285,1.111,0.366   c0.398,0.082,0.809,0.139,1.232,0.171v1.611h-9.375v-1.611c0.374-0.032,0.761-0.064,1.16-0.098   c0.398-0.032,0.744-0.098,1.037-0.195c0.488-0.162,0.834-0.484,1.037-0.965c0.204-0.479,0.306-1.135,0.306-1.965v-14.648   c0-0.635-0.114-1.151-0.342-1.551c-0.229-0.398-0.57-0.695-1.025-0.891c-0.424-0.195-0.834-0.325-1.233-0.391   c-0.398-0.064-0.769-0.113-1.11-0.146v-1.611h9.996l6.038,17.272l5.315-14.323c0.163-0.471,0.342-1.031,0.538-1.682   c0.195-0.65,0.301-1.072,0.317-1.268h10.119v1.611c-0.473,0.033-0.883,0.073-1.233,0.122c-0.35,0.049-0.671,0.106-0.964,0.171   c-0.456,0.131-0.794,0.387-1.013,0.77c-0.221,0.382-0.33,0.858-0.33,1.428v15.625c0,0.57,0.098,1.029,0.293,1.379   c0.195,0.351,0.528,0.623,1.001,0.818c0.342,0.163,0.712,0.285,1.11,0.366c0.399,0.082,0.81,0.139,1.233,0.171V887.881z"/>
                <path d="M512.936,887.881h-11.768v-1.611c0.374-0.032,0.757-0.064,1.147-0.098c0.391-0.032,0.732-0.098,1.025-0.195   c0.455-0.146,0.806-0.402,1.05-0.77c0.244-0.365,0.366-0.842,0.366-1.428v-17.969h-10.303v17.725c0,0.554,0.113,1.01,0.342,1.367   c0.228,0.358,0.569,0.635,1.025,0.83c0.342,0.163,0.708,0.285,1.099,0.366c0.391,0.082,0.797,0.139,1.221,0.171v1.611h-11.768   v-1.611c0.374-0.032,0.761-0.064,1.16-0.098c0.398-0.032,0.744-0.098,1.037-0.195c0.455-0.146,0.793-0.402,1.014-0.77   c0.219-0.365,0.329-0.842,0.329-1.428v-15.625c0-0.537-0.114-0.988-0.342-1.355c-0.229-0.365-0.57-0.646-1.025-0.842   c-0.424-0.195-0.834-0.325-1.233-0.391c-0.398-0.064-0.769-0.113-1.11-0.146v-1.611h26.636v1.611   c-0.473,0.033-0.883,0.073-1.232,0.122c-0.351,0.049-0.672,0.106-0.965,0.171c-0.456,0.131-0.793,0.387-1.014,0.77   c-0.219,0.382-0.329,0.858-0.329,1.428v15.625c0,0.57,0.098,1.029,0.293,1.379c0.195,0.351,0.528,0.623,1.001,0.818   c0.342,0.163,0.712,0.285,1.111,0.366c0.398,0.082,0.809,0.139,1.232,0.171V887.881z"/>
                <path d="M538.289,882.217c-1.01,1.921-2.36,3.451-4.053,4.59c-1.693,1.139-3.638,1.709-5.835,1.709   c-1.938,0-3.634-0.342-5.091-1.025c-1.456-0.684-2.657-1.611-3.601-2.783c-0.944-1.172-1.647-2.539-2.112-4.102   c-0.463-1.563-0.695-3.214-0.695-4.956c0-1.563,0.248-3.097,0.744-4.603c0.497-1.505,1.225-2.859,2.186-4.064   c0.928-1.155,2.079-2.088,3.455-2.795c1.375-0.709,2.917-1.063,4.626-1.063c1.758,0,3.263,0.277,4.517,0.83   c1.253,0.554,2.271,1.311,3.052,2.271c0.748,0.912,1.306,1.986,1.673,3.223c0.365,1.237,0.549,2.58,0.549,4.028v1.611h-15.942   c0,1.582,0.15,3.019,0.452,4.307c0.301,1.289,0.776,2.423,1.428,3.401c0.635,0.946,1.465,1.692,2.49,2.239   c1.025,0.546,2.246,0.819,3.662,0.819c1.448,0,2.697-0.34,3.748-1.019c1.049-0.679,2.063-1.902,3.039-3.669L538.289,882.217z    M532.894,873.037c0-0.908-0.077-1.882-0.231-2.921c-0.155-1.038-0.403-1.906-0.745-2.604c-0.375-0.746-0.888-1.354-1.538-1.825   c-0.651-0.471-1.489-0.706-2.515-0.706c-1.709,0-3.129,0.71-4.261,2.13c-1.131,1.42-1.745,3.396-1.843,5.927H532.894z"/>
                <path d="M551.558,885.073c0,0.912-0.329,1.688-0.989,2.331c-0.658,0.644-1.444,0.965-2.355,0.965c-0.912,0-1.697-0.321-2.355-0.965   c-0.66-0.643-0.989-1.419-0.989-2.331c0-0.911,0.329-1.696,0.989-2.356c0.658-0.658,1.443-0.988,2.355-0.988   c0.911,0,1.697,0.33,2.355,0.988C551.229,883.377,551.558,884.162,551.558,885.073z M551.338,855.63   c0,0.814-0.269,3.549-0.806,8.203c-0.537,4.655-1.01,9.155-1.416,13.501h-1.904c-0.358-4.346-0.802-8.846-1.331-13.501   c-0.528-4.654-0.793-7.389-0.793-8.203c0-0.928,0.293-1.709,0.879-2.344s1.334-0.952,2.246-0.952c0.911,0,1.66,0.313,2.246,0.939   C551.045,853.9,551.338,854.687,551.338,855.63z"/>
            </g>
            <g>
                <rect x="403.494" y="1014.781" fill="#BA1770" width="34.901" height="9.34"/>
                <rect x="403.494" y="1024.121" fill="#F16262" width="34.901" height="9.339"/>
                <rect x="403.494" y="1033.46" fill="#0E808E" width="34.901" height="9.341"/>
                <rect x="403.494" y="1042.803" fill="#C99F51" width="5.898" height="9.337"/>
                <rect x="403.494" y="1052.14" fill="#766C76" width="5.898" height="9.338"/>
            </g>
            <g>
                <g>
                    <path fill="#402B35" d="M293.757,178.602l0.182-1.131h3.804l7.678-39.337h-3.868l0.238-1.19l33.328,0.002l-2.38,12.078h-1.25    c0,0,0.123-0.651,0.123-1.489c0-6.186-2.382-9.339-8.516-9.339h-5.71l-3.751,19.335l2.619,0.002c4.94,0,7.26-2.083,8.805-7.079    h1.191l-2.974,15.53h-1.132c0-4.94-0.95-7.143-6.129-7.143h-2.616l-3.631,18.566h4.462l-0.18,1.194H293.757L293.757,178.602z"/>
                    <path fill="#402B35" d="M422.078,153.721c0.771-3.626-0.477-5.65-3.809-5.65c-6.247,0-9.997,10.946-9.997,18.27    c0,3.689,1.426,5.592,3.689,5.592c3.808,0.003,7.438-5.176,8.866-12.081L422.078,153.721L422.078,153.721z M428.148,165.509h1.546    l-0.715,2.495c-0.951,3.275-2.436,5.658-5.172,5.658c-2.681,0-4.229-2.859-3.573-8.095c0,0-2.623,8.565-9.762,8.565    c-4.284,0-7.618-4.102-7.619-9.578c0.001-8.095,6.966-18.09,15.358-18.09c4.818,0,5.531,2.559,7.316,2.559    c0.958,0,1.494-1.964,2.5-4.641h1.489c0,0-1.246,3.034-2.32,7.974l-3.747,17.376c-0.358,1.607,0.118,2.204,0.95,2.201    c1.429,0.003,2.379-1.487,3.092-4.045L428.148,165.509L428.148,165.509z"/>
                    <path fill="#402B35" d="M478.516,170.489v-1.13h4.407l-0.005-35.29c-3.928,12.079-8.031,24.396-11.901,36.419h-2.976    l-13.686-36.955v28.976c0,4.884,1.724,6.849,3.749,6.849h0.653v1.13h-10.234v-1.13h0.655c2.021,0,3.746-1.965,3.75-6.849v-32.545    h-4.405v-1.133h10.535l12.613,34.635l11.366-34.635h10.296v1.134h-4.401v39.394h4.401v1.13H478.516L478.516,170.489z"/>
                    <path fill="#402B35" d="M300.085,202.291c1.966,0.001,3.559-1.592,3.559-3.556c0-1.967-1.593-3.562-3.558-3.562    c-1.968,0-3.561,1.595-3.559,3.562C296.527,200.699,298.118,202.292,300.085,202.291L300.085,202.291z"/>
                    <path fill="#402B35" d="M540.683,202.291c1.968,0.001,3.558-1.592,3.559-3.556c-0.001-1.967-1.591-3.562-3.559-3.562    c-1.967,0-3.557,1.595-3.557,3.562C537.126,200.699,538.717,202.292,540.683,202.291L540.683,202.291z"/>
                    <polygon fill="#402B35" points="298.478,197.988 541.469,197.988 541.469,199.261 298.478,199.265 298.478,197.988   "/>
                    <path fill="#F15D5C" d="M428.253,206.744c-4.856,0-8.803-4.048-8.803-9.026s3.946-9.028,8.803-9.033    c4.858,0.005,8.804,4.062,8.804,9.036C437.057,202.696,433.111,206.744,428.253,206.744L428.253,206.744z"/>
                    <path fill="#007F8E" d="M428.256,201.143c1.844,0,3.33-1.535,3.33-3.425c0-1.89-1.486-3.425-3.33-3.426    c-1.844,0-3.338,1.536-3.336,3.426C424.92,199.608,426.412,201.143,428.256,201.143L428.256,201.143z"/>
                    <path fill="#402B35" d="M353.976,161.774l0.254-1.206h4.196l9.544-49.266h-4.315l0.251-1.272l15.064,0l-0.189,1.212l-4.453-0.001    l-9.546,49.262l4.586,0.003c6.421-0.003,9.028-2.925,12.081-12.14l1.461-0.001l-2.543,13.409H353.976L353.976,161.774z"/>
                    <path fill="#402B35" d="M548.133,152.127c0-5.832-3.568-9.761-8.09-9.761c-7.553,0-10.293,8.69-10.293,8.69    c0.415-5.717-2.023-8.572-5.419-8.571c-4.934,0-7.378,3.333-8.505,7.14l-0.719,2.506h1.551l0.654-2.385    c0.714-2.56,1.662-4.043,3.093-4.043c0.831-0.005,1.189,0.592,0.831,2.196l-8.9,38.202h-3.256l-0.219,1.04h16.589l0.221-1.04    h-3.295l3.863-17.551c0,0,1.247,2.32,5.71,2.32C540.935,170.872,548.133,160.813,548.133,152.127L548.133,152.127z     M529.807,168.788c-1.961,0-3.213-1.607-2.439-4.878l1.486-6.073c1.55-6.183,3.751-10.882,6.429-10.882    c1.487,0,2.497,1.424,2.497,4.459C537.779,158.196,534.271,168.788,529.807,168.788L529.807,168.788z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M187.463,404.765v-84.142H170.97v84.142h-15.934v-97.839h48.36v97.839H187.463z"/>
                    <path d="M251.896,387.014c0,4.193-0.14,9.085-4.473,13.558c-2.655,2.795-7.547,5.591-15.654,5.591    c-8.106,0-12.999-2.796-15.654-5.591c-4.333-4.473-4.473-9.365-4.473-13.558v-36.061c0-4.193,0.14-9.085,4.473-13.558    c2.656-2.795,7.548-5.591,15.654-5.591c8.107,0,12.999,2.796,15.654,5.591c4.333,4.473,4.473,9.365,4.473,13.558V387.014z     M226.737,386.735c0,1.957,0.28,3.214,0.699,4.053c1.118,1.957,3.075,2.236,4.333,2.236s3.215-0.279,4.333-2.236    c0.419-0.839,0.699-2.097,0.699-4.053v-35.502c0-1.957-0.279-3.214-0.699-4.053c-1.118-1.957-3.075-2.236-4.333-2.236    s-3.215,0.279-4.333,2.236c-0.419,0.839-0.699,2.097-0.699,4.053V386.735z"/>
                    <path d="M285.301,404.765v-32.427h-10.063v32.427h-15.096v-71.563h15.096V359.2h10.063v-25.998h15.095v71.563H285.301z"/>
                    <path d="M309.34,425.73v-92.528h14.257l0.279,5.591c1.258-1.677,2.796-3.075,4.613-4.193c2.516-1.538,5.591-2.796,8.805-2.796    c4.333,0,8.247,2.376,10.204,5.591c1.817,3.075,2.096,8.526,2.096,12.44v43.189c0,3.075-0.279,7.268-2.795,10.483    c-2.516,3.214-5.871,4.193-9.505,4.193c-3.214,0-5.87-0.979-8.246-2.516c-1.957-1.398-3.354-2.936-4.193-5.172l-0.419-0.14v25.857    H309.34z M334.499,351.373c0-1.957-0.28-4.613-1.118-5.871c-0.56-0.699-1.678-1.677-3.774-1.677c-0.839,0-2.935,0-4.193,1.957    c-0.279,0.419-0.978,1.817-0.978,5.87v33.685c0,4.333,0.838,6.43,1.258,7.268c1.118,1.957,2.935,3.075,4.612,3.075    s2.795-0.559,3.494-2.236c0.419-0.979,0.699-2.516,0.699-7.128V351.373z"/>
                    <path d="M382.858,404.765l-0.14-4.892c-0.419,0.699-1.957,2.656-4.473,4.193c-2.935,1.817-6.15,2.097-8.945,2.097    c-4.333,0-7.268-0.979-9.924-4.473c-2.656-3.634-3.634-8.666-3.634-13.837c0-9.924,4.193-14.816,8.526-18.729    c3.494-3.214,9.365-7.687,17.052-11.601v-5.87c0-1.397,0-3.494-0.978-4.892c-0.699-1.118-2.236-1.817-4.053-1.817    c-1.678,0-3.215,0.699-4.054,1.817c-1.258,1.538-0.979,3.215-0.979,4.892v4.892h-14.536v-8.247c0-2.935,0.699-7.268,4.193-10.902    c4.612-4.892,11.182-5.591,15.654-5.591c4.612,0,11.601,0.699,16.074,5.731c3.634,4.193,3.774,8.805,3.774,12.859v54.371H382.858z     M381.32,370.102c-2.795,1.817-6.429,4.892-8.246,7.688c-2.097,3.214-2.236,6.29-2.236,9.225c0,2.656,0.279,4.333,0.979,5.591    c1.258,2.097,3.214,2.376,4.612,2.376c2.097,0,3.215-0.979,4.053-2.516s0.838-3.215,0.838-4.752V370.102z"/>
                    <path d="M404.661,333.203h23.202c3.075,0,10.063,0.699,13.697,5.591c2.097,2.935,2.517,6.15,2.517,8.806v5.311    c0,3.075,0,6.43-2.517,9.504c-1.397,1.677-3.354,2.935-5.73,3.634v0.279c2.656,0.559,4.753,1.957,6.15,3.634    c2.795,3.214,2.935,6.569,2.935,9.923v8.945c0,4.054-0.698,7.688-4.473,11.322c-4.053,3.774-8.945,4.612-14.396,4.612h-21.386    V333.203z M423.95,361.157c1.397,0,2.935-0.14,4.053-1.538c1.118-1.258,1.258-2.795,1.258-4.053v-5.73    c0-1.118,0-2.516-1.118-3.634c-0.978-0.979-2.935-1.258-4.192-1.258h-4.193v16.213H423.95z M423.67,393.024    c1.678,0,3.495,0,4.893-1.538c1.258-1.397,1.258-3.214,1.258-4.333v-7.408c0-1.817,0-3.634-0.979-5.032    c-1.258-1.817-3.215-2.096-4.892-2.096h-4.193v20.406H423.67z"/>
                    <path d="M477.621,404.765v-29.072l0.42-7.967l-10.483,26.137v10.902h-15.095v-71.563h15.095v29.631l-0.419,6.709l10.482-26.137    v-10.203h15.096v71.563H477.621z"/>
                    <path d="M529.476,404.765v-58.424h-7.827c0,8.666-0.141,29.352-0.42,36.62c-0.14,3.494-0.698,9.504-3.215,14.676    c-3.215,6.29-8.246,7.128-12.579,7.128h-7.268v-13.558h2.935c2.656,0,3.914-2.236,4.473-3.914c0.979-2.795,1.118-5.73,1.258-9.784    c0.141-3.773,0.56-21.804,0.42-44.307h37.318v71.563H529.476z"/>
                    <path d="M593.069,387.014c0,4.193-0.14,9.085-4.473,13.558c-2.655,2.795-7.548,5.591-15.654,5.591s-12.999-2.796-15.654-5.591    c-4.333-4.473-4.473-9.365-4.473-13.558v-36.061c0-4.193,0.14-9.085,4.473-13.558c2.655-2.795,7.548-5.591,15.654-5.591    s12.999,2.796,15.654,5.591c4.333,4.473,4.473,9.365,4.473,13.558V387.014z M567.911,386.735c0,1.957,0.279,3.214,0.698,4.053    c1.118,1.957,3.075,2.236,4.333,2.236s3.215-0.279,4.333-2.236c0.419-0.839,0.699-2.097,0.699-4.053v-35.502    c0-1.957-0.28-3.214-0.699-4.053c-1.118-1.957-3.075-2.236-4.333-2.236s-3.215,0.279-4.333,2.236    c-0.419,0.839-0.698,2.097-0.698,4.053V386.735z"/>
                    <path d="M640.592,387.294c0,2.935-0.279,6.569-1.678,9.784c-2.655,5.871-8.386,9.085-18.03,9.085    c-6.849,0-13.697-1.817-17.61-8.526c-2.377-4.053-2.656-8.106-2.656-11.601v-34.943c0-3.075,0.279-8.526,3.215-12.439    c3.215-4.333,10.063-6.849,17.052-6.849c5.312,0,12.021,1.258,16.214,6.989c3.354,4.612,3.215,8.945,3.215,12.02v9.924h-14.816    v-9.225c0-2.236-0.279-3.494-0.838-4.473c-0.56-1.118-1.817-2.097-3.774-2.097c-1.397,0-3.075,0.559-3.913,1.677    c-1.118,1.398-1.258,3.774-1.258,4.752v34.244c0,1.957,0.14,3.914,1.118,5.451c1.118,1.678,2.516,1.957,4.053,1.957    c0.979,0,2.796-0.14,3.774-1.817c0.279-0.419,0.838-1.677,0.838-5.451v-8.386h15.096V387.294z"/>
                    <path d="M648.139,333.203h15.095v23.901h6.011c4.612,0,8.525,0.14,12.858,3.494c5.451,4.473,6.29,10.203,6.29,17.891v9.365    c0,5.591-2.936,10.762-6.15,13.278c-2.516,1.957-6.849,3.634-10.482,3.634h-23.621V333.203z M667.706,391.627    c1.118,0,3.215-0.14,4.612-2.376c0.839-1.397,0.979-3.354,0.979-5.032v-5.451c0-3.634-0.419-5.031-0.698-5.73    c-1.118-2.516-3.215-2.795-5.871-2.795h-3.494v21.385H667.706z"/>
                    <path d="M295.923,553.218h9.085c1.677,0,4.053-0.14,5.451-2.097c1.677-2.236,0.838-5.591,0.419-7.408l-14.117-69.885h15.096    l6.01,46.264h0.559l5.171-46.264h15.096l-13.278,80.927c-0.559,3.494-1.677,6.988-6.29,9.364    c-2.795,1.398-7.408,2.236-10.203,2.236h-12.999V553.218z"/>
                    <path d="M386.632,545.391v-32.427h-10.063v32.427h-15.095v-71.563h15.095v25.998h10.063v-25.998h15.096v71.563H386.632z"/>
                    <path d="M435.69,545.391l-0.14-4.892c-0.419,0.699-1.957,2.656-4.473,4.193c-2.935,1.817-6.149,2.097-8.945,2.097    c-4.333,0-7.268-0.979-9.924-4.473c-2.655-3.634-3.634-8.666-3.634-13.837c0-9.924,4.193-14.816,8.526-18.729    c3.494-3.214,9.365-7.687,17.052-11.601v-5.87c0-1.397,0-3.494-0.979-4.892c-0.699-1.118-2.236-1.817-4.054-1.817    c-1.677,0-3.214,0.699-4.053,1.817c-1.258,1.538-0.979,3.215-0.979,4.892v4.892h-14.536v-8.247c0-2.935,0.699-7.268,4.193-10.902    c4.612-4.892,11.182-5.591,15.655-5.591c4.612,0,11.601,0.699,16.073,5.731c3.634,4.193,3.773,8.805,3.773,12.859v54.371H435.69z     M434.153,510.728c-2.796,1.817-6.43,4.892-8.246,7.688c-2.097,3.214-2.236,6.29-2.236,9.225c0,2.656,0.279,4.333,0.978,5.591    c1.259,2.097,3.215,2.376,4.613,2.376c2.096,0,3.214-0.979,4.053-2.516s0.839-3.215,0.839-4.752V510.728z"/>
                    <path d="M496.77,527.92c0,2.935-0.279,6.569-1.678,9.784c-2.655,5.871-8.386,9.085-18.03,9.085c-6.849,0-13.697-1.817-17.61-8.526    c-2.376-4.053-2.656-8.106-2.656-11.601v-34.943c0-3.075,0.28-8.526,3.215-12.439c3.215-4.333,10.063-6.849,17.052-6.849    c5.312,0,12.021,1.258,16.214,6.989c3.354,4.612,3.215,8.945,3.215,12.02v9.924h-14.816v-9.225c0-2.236-0.279-3.494-0.838-4.473    c-0.56-1.118-1.817-2.097-3.774-2.097c-1.397,0-3.075,0.559-3.913,1.677c-1.118,1.398-1.258,3.774-1.258,4.752v34.244    c0,1.957,0.14,3.914,1.118,5.451c1.118,1.678,2.516,1.957,4.053,1.957c0.979,0,2.796-0.14,3.774-1.817    c0.279-0.419,0.838-1.677,0.838-5.451v-8.386h15.096V527.92z"/>
                    <path d="M513.122,523.308v-14.396c0-7.688,3.494-12.58,6.149-16.633l6.569-10.063c1.817-2.795,2.097-6.43,2.097-9.784v-6.429    c0-1.538-0.279-3.774-0.839-4.892c-0.419-0.838-1.537-2.097-3.913-2.097c-1.258,0-2.936,0.28-4.054,2.097    c-0.56,1.118-0.979,2.656-0.979,5.451v10.762H502.22v-12.999c0-5.87,2.236-10.343,5.031-12.999    c3.774-3.495,10.763-5.171,16.214-5.171c6.569,0,12.998,2.096,16.493,6.01c3.773,4.193,3.913,9.085,3.913,12.58v10.762    c0,3.774-0.559,6.849-2.936,10.762c-2.096,3.634-4.892,6.43-7.128,9.504c-6.43,8.945-6.709,14.676-6.709,16.493v11.042H513.122z     M512.563,545.391v-16.772h15.096v16.772H512.563z"/>
                </g>
            </g>
            <g>
                <line fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-width="0.3" x1="0" y1="-54" x2="0" y2="-18"/>
                <line fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-width="0.3" x1="-54" y1="0" x2="-18" y2="0"/>

                    <line fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-width="0.3" x1="-54" y1="1190.551" x2="-18" y2="1190.551"/>

                    <line fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-width="0.3" x1="0" y1="1244.551" x2="0" y2="1208.551"/>

                    <line fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-width="0.3" x1="841.89" y1="-54" x2="841.89" y2="-18"/>

                    <line fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-width="0.3" x1="895.89" y1="0" x2="859.89" y2="0"/>

                    <line fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-width="0.3" x1="895.89" y1="1190.551" x2="859.89" y2="1190.551"/>

                    <line fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-width="0.3" x1="841.89" y1="1244.551" x2="841.89" y2="1208.551"/>
            </g>
            <g id="qr_code" transform="translate(290,587)"></g>
    </svg>
        </div>
        <script>
            var target = window.location.href.split("=")[1]
            new QRCode(document.getElementById("qr_code"), {
            text: target,
            useSVG: true,
            width: 256,
            height: 256,
        });
        </script>

    <div id="test"></div>
    

    </body>


</html>